body {
  font-family: 'Open Sans', sans-serif;
}

.main-content {
  max-width: 800px;
  margin: auto;
  margin-top: 3rem;
}

input[type="submit"] {
  font-family: 'Open Sans', sans-serif;
  border: 2px solid #000;
  background-color: #fff;
  padding: 4px 8px;
  font-size: 1em;
}

.bank-list {
  list-style-type: none;
  padding: 0;
}

.bank-list li {
  border: 1px solid grey;
  margin: 4px 0;
}

.bank-list a {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 4px;
  text-decoration: none;
  color: black;
}

.bank-list a:hover {
  background-color: lightgray;
}

.bank-list img {
  height: 32px;
  width: 32px;
}
