body {
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  line-height: 1.5;
  --foreground: black;
  --background: white;
  --width: 800px;
  margin: 0;
  --main-margin: 1rem;
}

p {
  margin: 1rem 0;
}

a {
  color: var(--foreground);
}
.main-content {
  max-width: var(--width);
  margin: auto;
  margin-top: 3rem;
  padding: var(--main-margin);
}

nav {
  width: 100%;
  padding: 2rem 0;
  --foreground: white;
  --background: black;
  background-color: var(--background);
}

nav a {
  text-decoration: none;
}

.menu {
  max-width: var(--width);
  margin: auto;
  list-style-type: none;
  padding: var(--main-margin);
  display: flex;
  justify-content: space-between;
}

@media (max-width: 400px) {
  .menu {
    display: block;
  }

  .menu li {
    padding: 1rem;
  }
}

input[type="submit"],
a.button {
  font-family: 'Open Sans', sans-serif;
  border: 2px solid var(--foreground);
  background-color: var(--background);
  padding: 4px 8px;
  font-size: 1em;
}

a.button {
  text-decoration: none;
}

.bank-list {
  list-style-type: none;
  padding: 0;
}

.bank-list li {
  border: 1px solid grey;
  margin: 4px 0;
}

.bank-list a {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 4px;
  text-decoration: none;
}

.bank-list a:hover {
  background-color: lightgray;
}

.bank-list img {
  height: 32px;
  width: 32px;
}

.log-table th.head {
  text-align: left;
}

.log-table {
  width: 100%;
  /* border-spacing: 1em; */
  /* table-layout: fixed; */
  border-collapse: collapse;
}

.log-table th {
  padding: 0 0.5em 0.5em;
}

.log-table td {
  padding: 0.5em;
  vertical-align: top;
}

.log-table td:first-child,
.log-table th:first-child {
  padding-left: 0;
}

.log-table td:last-child,
.log-table th:last-child {
  padding-right: 0;
}

.log-table tr.entry {
  border-top: 1px solid grey;
}

.log-table .message {
  word-break: break-word;
}

.log-table .data {
  position: relative;
  text-align: center;
}

.log-table .data pre {
  height: 0;
  overflow: hidden;
  margin: 0;
  text-align: left;
}
.log-table .data.active pre {
  height: auto;
}

.form-element {
  margin-bottom: 1rem;
}

.form-element label {
  display: block;
}

.form-element.checkbox label {
  display: inline;
  padding-left: .25rem;
}

.form-element .description {
  margin-top: 0.3rem;
  font-size: 0.8em;
}

.inline-spinner {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-left: 1rem;
}
