Hello <%= user.mail %>

<p>
  Nordigan:
  <% if user.nordigen_requisition_id %>
  Connected
  <% else %>
  Not connected <a href="/auth/nordigen/select_bank">connect</a>
  <% end %>
</p>

<p>
  YNAB:
  <% if user.ynab_token_pair.usable? %>
  Connected
  <% else %>
  Not connected <a href="/auth/ynab">connect</a>
  <% end %>
</p>

