<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> | N2Y</title>
    <link rel="manifest" href="/n2y.webmanifest">
    <link rel="icon" href="/favicon<%= Kemal.config.env == "production" ? "" : "-dev" %>.ico" sizes="32x32">
    <link rel="icon" href="/icon<%= Kemal.config.env == "production" ? "" : "-dev" %>.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/pico.min.css">
    <link rel="stylesheet" href="/styles.css">
    <script src="/htmx.min.js"></script>
    <script src="/script.js"></script>
  </head>
  <body>
    <% if env.session.string? "user_id" %>
    <header class="container-fluid">
      <nav>
        <ul>
          <li><stong>N2y</stong></li>
        </ul>
        <ul class="menu" hx-boost="true">
          <li><a href="/">Overview</a></li>
          <li><a href="/mapping">Account mapping</a></li>
          <li><a href="/log">Log</a></li>
        </ul>
      </nav>
    </header>
    <% end %>
    <main class="container">
      <%= content %>
    </main>
    <footer class="container">
      <nav>
        <ul>
          <li><a href="/privacy-policy" class="secondary">Privacy policy</a></li>
          <li><a href="/tos" class="secondary">Terms of Service</a></li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
