<%= tos %>

<form method=post action="/auth/tos">
  <fieldset>
    <div class="form-element checkbox">
      <label for="accepted"><input type="checkbox" id="accepted" name="accepted" value="1"/>I accept</label>
    </div>
  </fieldset>
  <input type="submit" value="Submit" />
</form>
